*{
    border:0;
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}
.hero{
    min-height: 100vh;
    background-image: url("img/bg.min.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin:auto;
}

.hero .content{
    width: 100%;
    height: 100%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
       
}
.container-avatar{
    width: 160px;
    height: 160px;
    border: 2px solid #CEC8C8;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.avatar{
    padding: 5px;
    width: 100%;
    height: 100%;
}
.hero .image{
    
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    
}

.hero .image:hover img{
    
    transform: scale(1.1);
}

.hero img{
    max-width: 100%;
    object-position: center;
    transition: .4s ease;
}

.name{
    color: #EFD31A;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.profesion{
    color:#CEC8C8;
    font-size: 15px;
}
.social-media{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
   margin-top: 20px;
}
.social-media a{
    display: inline-block;
    padding: 10px 15px;
    color:white;
    font-size: 24px;
    
}
.social-media a:hover{
    color:#CEC8C8;
    transition: .3s ease;
    
}

/* ------------SERVICES-------------- */
.services{
    padding: 60px 0;
}
.services .row{
    width:100%;
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
    align-items: center;
}

.services .content{
    width:40%; 
    padding: 0 5px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
}
.services .image{
    width:60%; 
}


.services .content h1{
    margin:0;
    padding: 0;
    padding: 15px 0;
    color:#EFD31A;
    font-size: 40px;
    line-height: 45px;
}
.services  span{
    color: rgb(21, 155, 165);
    font-weight: normal;
}

.services .content h1::after{
    content: "";
    border: 1px dashed rgb(209, 195, 103);
    display: block;
    max-width: 70%;
    
    margin-top: 5px;
}

.services .content p{
    color: #5a5858;
    margin-top: 5px;
}
.services .content .descrip{
    color: #5a5858; 
}
/* ----------footer-------------- */
footer{
    background: #2e2d2d;
}
footer .container p{
    text-align: center;
    padding: 10px 10px;
    color:#e6e4e4;
    font-size: 14px;
    font-weight: 300;
}

/* ------------------------------------
              MEDIA QUERIES
---------------------------------------- */

@media screen and (max-width:1075px){
    .services .content h1{
        font-size: 30px;
        line-height: 35px;
    } 
}

@media screen and (max-width:768px){
    .services .row{
        
        flex-direction: column;
        
    }
    .services .content{
        width: 100%;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .services .image{
        width: 80%;
    }
    .services{
        padding: 40px 0;
    }
}

@media screen and (max-width:425px){
    .container-avatar{
        width: 120px;
    height: 120px;
    }
    .services{
        padding: 30px 0;
    }
}
@media screen and (max-width:320px){
 
    .services .image{
        width: 100%;
        /* margin-top:200px; */ /* pruebaaaaa */
    }
    .services .content h1{
        font-size: 25px;
        padding-bottom: 5px;
    }
    .services .content p{
        font-size: 15px;
        
    }
}

